/* DEFAULTS
----------------------------------------------------------*/

body {
	border:0px;
	margin: 0px;
	padding: 0px;
	background-repeat:no-repeat;
	background-position:center center; 
	background-color: #EEEEEE;
	font-family: Segoe UI, sans-serif;
	font-size: 12px;
	color: #000000;
	background-attachment:fixed;
}

p {
	margin-bottom: 10px;
	line-height: 1em;
}

a{
	font-size: 12px;
	font-family: Segoe UI, sans-serif;
	color:#000000;
	text-decoration: underline;
	padding-right:6px;
	padding-left:6px;
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 0;
  padding: 2px 20px 2px 5px;
  
  outline: 0;
  border: 1px solid #aaa;
  line-height: normal;
  border-radius: 5px;
  font-size: 15px;
  width: 175px;
}

input[type="text"] {
	width: 175px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 0;
  padding: 2px 20px 2px 5px;
  height: 25px;
  outline: 0;
  border: 1px solid #aaa;
  line-height: normal;
  border-radius: 5px;
  font-size: 15px;
}

input[type="password"] {
  width: 175px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 0;
  padding: 2px 20px 2px 5px;
  height: 25px;
  outline: 0;
  border: 1px solid #aaa;
  line-height: normal;
  border-radius: 5px;
  font-size: 15px;
}

.etiqueta {
	height:25px;
	width: 150px;
	background-color: #8e3999;
	font-family: Segoe UI, sans-serif;
	text-align: left;
	padding-left:5px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;	
}

.textoLibre {
	font-family: Segoe UI, sans-serif;
	text-align: left;
	padding-left:5px;
	color: #000000;
	font-size: 15px;
	font-weight: bold;	
}

.table {
	border:0px;
	margin: 0px;
	padding: 0px;
	background-repeat:no-repeat;
	background-image:url('../img/menuback.png');
	background-position:center center; 
	background-size: 100% 100%;
	margin-left:auto; 
    margin-right:auto;
}

.table2 {
  display: table;
  border-collapse: separate;
  border-spacing: 1px;
  border-color: grey;
  border:0; 
  cellspacing:0; 
  cellpadding:0; 
  width:95%; 
  align:center;
  padding-left: 5px;
}

.header {
	background-color: #8e3999;
	font-family: Segoe UI, sans-serif;
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
}

.title {
	background-color: #b56ebd;
	font-family: Segoe UI, sans-serif;
	text-align: left;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
	height: 50px;
	padding: 10px;
}

.subtitle {
	font-family: Segoe UI, sans-serif;
	text-align: center;
	color: #870996;
	font-size: 20px;
	font-weight: bold;
}

.error {
	font-family: Segoe UI, sans-serif;
	text-align: center;
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}

.menufondo{
	background-color: #8e3999;
	background-position:left top;
	background-repeat:repeat-y;
	padding:0px;
	font-family: Segoe UI, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.version {
	font-family: Segoe UI, sans-serif;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	background-color: #8e3999;
}

.tableTitle{
	background-color: #8e3999;
	font-family: Segoe UI, sans-serif;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

.tableImpar{
	background-color: #cccccc;
	font-family: Segoe UI, sans-serif;
	text-align: left;
	padding-left:5px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;	
}

.tablePar{
	background-color: #FFFFFF;
	font-family: Segoe UI, sans-serif;
	text-align: left;
	padding-left:5px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.buttons
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FFFFFF;
	background:url('../img/button.png');
	border: 0px;
	width: 170px;
	height:30px;
	cursor: hand;
}